/* font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif; 

#7ed957 verde
#14827b celeste*/



/* Inicio index */

footer {
    background-color: #e1e1e1;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    font-size: 13px;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    background-color: white;
}

header {
    background-color: beige;
    height: 140px;
}

header h1 {
    color: #14827b;
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    bottom: 45px;
    right: 20px;
    text-align: center;
}

.logo {
    margin: -20px;
}


nav {
    background-color: #c2ade0;
    margin-bottom: 20px;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: #574079;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgb(0, 0, 0, 0.1);
}


nav ul li a.activo {
    background-color: #9d89b9;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

main img {
    margin-top: -20px;
}

main div p {
    font-size: 15px;
    font-weight: 300;
}

h2 {
    color: #14827b;
    font-weight: 600;
}

h3 {
    color: #574079;
}

main div.columnas div {
    width: 25%;
    padding-left: 50px;
}

main div.columnas img {
    width: 500px;
    padding-right: 150px;
    padding-top: 40px;
}

main div.columnas {
    display: flex;
    justify-content: space-between;
}

/* Fin del index */

/* Inicio sobre mi  */

.soy {
    border: 1px solid #9d89b9;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
}

.soycontenido {
    width: 80%;
}

div.soy img {
    width: 150px;
    border-radius: 10px;
    margin-top: 5px;
}

main div.soycontenido h3 {
    color:#574079;
}

.soy:nth-child(even) {
    flex-direction: row-reverse;
}

/* Fin de sobre mi  */

/* Inicio de trabajos */

.trabajos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.trabajos img {
    width: 15%;
    border: 2px solid #574079;
    padding: 0.5em;
    margin-top: 1%;
    margin-right: 2%;
    margin-bottom: 1%;
}

.titulotrabajos h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulotrabajos p {
    text-align: center;
}

/* Fin de trabajos */

/* Inicio de informacion */

main ul li {
    list-style: none;
    font-weight: 300;
    font-size: 15px;
    line-height: 25px; 
}

.cuidados, .nadiedice {
    border-bottom: 2px solid #574079;
}

.cuidados {
    margin-top: 30px;
}

/* Fin de informacion  */

/* Inicio de contactanos */

.contacto {
    display: flex;
}

.contacto div {
    width: 100%;
}

.datos ul li {
    font-size: 13px;
}

.datos h3 {
    margin-left: 20px;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 90px;
}

.formulario p input, .formulario p textarea {
    border-radius: 4px;
    border: 1px solid #574079;
    font-size: 12px;
    padding: 6px 10px;
}

.formulario {
    margin-left: 100px;
}

.formulario textarea {
    resize: none;
    height: 50px;
    width: 138px;
}

.formulario input[type="submit"] {
    background-color: #9d89b9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    color: #36254e;
    font-size: 15px;
    padding: 6px 10px;
    width: auto;
    position: relative;
    left: 187px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #bcaad6;
}