/* font-family: 'Lora', serif;
font-family: 'Open Sans', sans-serif; 

#7ed957 verde
#14827b celeste

.loginbtn {
    margin-right: 10px;
    border-radius: 30px;
    border-style: solid;
    border-color: #14827b;
    color: #14827b;
    background-color: white;
    height: 37px;
}

.signupbtn {
    margin-right: 10px;
    border-radius: 30px;
    border-style: solid;
    border-color: #14827b;
    color: #14827b;
    background-color: white;
    height: 37px;
}  */

/* Inicio index */

footer {
    background-color: beige;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
    font-size: 13px;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 25px;
    background-color: white;
}

header {
    background-color: beige;
    height: 140px;
}

header h1 {
    color: #14827b;
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    bottom: 45px;
    right: 20px;
    text-align: center;
}

.logo {
    margin: -20px;
}


.barra {
    margin-right: 10px;
}

.registro {
    display: inline-block;
    position: relative;
    right: -950px;
    bottom: 140px;

}

.botones {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 115px;
    left: 180px;
}

nav {
    background-color: #c2ade0;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: #574079;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover {
    background-color: rgb(0, 0, 0, 0.1);
}


nav ul li a.activo {
    background-color: #9d89b9;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

main img {
    margin-top: -20px;
}

main div p {
    font-size: 15px;
    font-weight: 300;
}

h2 {
    color: #14827b;
    font-weight: 600;
}

main div.columnas h3 {
    color: #14827b;
}

main div.columnas div {
    width: 25%;
    padding-left: 50px;
}

main div.columnas img {
    width: 500px;
    padding-right: 150px;
    padding-top: 40px;
}

main div.columnas {
    display: flex;
    justify-content: space-between;
}

/* Fin del index */

/* Inicio sobre mi  */

.soy {
    border: 1px solid #9d89b9;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    justify-content: space-between;
}

.soycontenido {
    width: 80%;
}

div.soy img {
    width: 150px;
    border-radius: 10px;
    margin-top: 5px;
}

main div.soycontenido h3 {
    color:#574079;
}

.soy:nth-child(even) {
    flex-direction: row-reverse;
}
