<h2>Esta es la seccion Precios</h2>
<div>
    <ul>
        <li>Clavos: $50 c/u</li>
        <li>Tarubos: $100 c/u</li>
        <li>Tornillos: $200 c/u</li>
        <li>Adhesivos: $500 c/u</li>
        <li>Selladores: $800 c/u</li>
        <li>Cintametrica: $2000 c/u</li
    </ul>
</div>