<h2>Esta es la seccion productos</h2>
<div>
    <ul>
        <li>Clavos</li>
        <li>Tornillos</li>
        <li>Tarubos</li>
        <li>Adhesivos</li>
        <li>Selladores</li>
        <li>Cintametrica</li>
    </ul>
</div>