<h2>Esta es la seccion Promociones</h2>
<div>
    <ul>
        <li>
           <h4>Promo 1</h4>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque porro repellendus laudantium laborum recusandae? Voluptatibus, ab ipsa? Architecto, hic. Labore, illum ad! Vero pariatur ut repellendus aliquid deserunt, error voluptas.</p> 
        </li>
        <li>
           <h4>Promo 2</h4>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque porro repellendus laudantium laborum recusandae? Voluptatibus, ab ipsa? Architecto, hic. Labore, illum ad! Vero pariatur ut repellendus aliquid deserunt, error voluptas. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum esse quaerat saepe? Ex perspiciatis natus odit illo. Officiis adipisci repudiandae quam necessitatibus vel, dolorem, pariatur inventore minima quos, sunt eveniet.</p> 
        </li>
        <li>
           <h4>Promo 3</h4>
           <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque porro repellendus laudantium laborum recusandae? Voluptatibus, ab ipsa? Architecto, hic. Labore, illum ad! Vero pariatur ut repellendus aliquid deserunt, error voluptas. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium rerum, placeat accusamus possimus autem, beatae architecto eius quaerat quas alias officia maxime fuga voluptas! Quia ipsam aliquid illum? Non, eos? Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim sit consequatur quasi excepturi. Incidunt repudiandae asperiores amet explicabo ducimus in natus beatae distinctio illum ipsum? Aut dolorem voluptatibus consectetur eos.</p> 
        </li>
    </ul>
</div>