<div class="containernovedades">
        <p class="text-end">Hola {{persona}}!</p>
        <a class="btn btn-danger" href="/admin/login/logout">Cerrar sesion <i class="fas fa-sign-out-alt"></i></a>
</div>