.contacto {
    display: flex;
}

.contacto div {
    width: 100%;
}

.datos ul li {
    font-size: 13px;
}

.datos h3 {
    margin-left: 20px;
}

.formulario p {
    display: flex;
}

.formulario p label {
    min-width: 90px;
}

.formulario p input, .formulario p textarea {
    border-radius: 4px;
    border: 1px solid #574079;
    font-size: 12px;
    padding: 6px 10px;
}

.formulario {
    margin-left: 100px;
}

.formulario textarea {
    resize: none;
    height: 50px;
    width: 138px;
}

.formulario input[type="submit"] {
    background-color: #9d89b9;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
    color: #36254e;
    font-size: 15px;
    padding: 6px 10px;
    width: auto;
    position: relative;
    left: 187px;
    cursor: pointer;
}

.formulario input[type="submit"]:hover {
    background-color: #bcaad6;
}