@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Open+Sans:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: beige;
  height: 115px;
}

header h1 {
  color: #14827b;
  font-size: 25px;
  font-weight: 300;
  position: relative;
  text-align: center;
  padding-top: 27px;
  padding-right: 1180px;
}


footer {
  background-color: #e1e1e1;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
  font-size: 13px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  background-color: white;
}

.holder {
  max-width: 960px;
  margin: 0 auto;
}

h2 {
  color: #14827b;
  font-weight: 600;
}

h3 {
  color: #574079;
}

.containerlogin {
  margin-left: 500px;
  margin-top: 20px;
  padding: 10px;
  width: 375px;
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}

.containerlogin .row {
  width: 450px;
  margin-top: -10px;
}

.containerlogin img {
  margin-left: 85px;
  margin-top: -40px;
  width: 185px;
}

.containerlogin button {
  background-color: #574079;
  border: none;
  margin-left: 265px;
}

.containerlogin button:hover {
  background-color: #9c80c7;
}

.alertincorrecto {
  font-size: 13px;
  margin-top: -30px;
  padding-left: 20px;
  color: red;
  width: 250px;
  height: 30px;
}

.containernovedades p {
  margin-top: 40px;
  margin-right: 100px;
  margin-bottom: 20px;
  font-size: 20px;
  color:#574079;
}

.containernovedades a {
  margin-left: 1133px;
  margin-top: -10px;
  margin-bottom: 20px;
}