@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&family=Open+Sans:wght@300;400;600&display=swap');

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: beige;
  height: 115px;
}

header h1 {
  color: #14827b;
  font-size: 25px;
  font-weight: 300;
  padding-top: 27px;
  padding-right: 1180px;
  display: flex;
  text-align: center;
}


footer {
  background-color: #e1e1e1;
  clear: both;
  color: #333;
  text-align: center;
  padding: 5px 0;
  margin-top: 20px;
  font-size: 13px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 25px;
  background-color: white;
}

.holder {
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  color: #14827b;
  font-weight: 600;
}

h3 {
  color: #574079;
}

.containerlogin {
  margin-left: 500px;
  margin-top: 20px;
  padding: 10px;
  width: 375px;
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}

.containerlogin .row {
  width: 450px;
  margin-top: -10px;
}

.containerlogin img {
  margin-left: 85px;
  margin-top: -40px;
  width: 185px;
}

.containerlogin button {
  background-color: #574079;
  border: none;
  margin-left: 265px;
}

.containerlogin button:hover {
  background-color: #9c80c7;
}

.alertincorrecto {
  font-size: 13px;
  margin-top: -30px;
  padding-left: 20px;
  color: red;
  width: 250px;
  height: 30px;
}

.containerpromociones p {
  font-size: 20px;
  color:#574079;
  margin-top: 20px;
  margin-right: 170px;
  margin-bottom: 20px;
}

.containerpromociones a {
  margin-left: 1050px;
  margin-top: -90px;
}

.listado h3 {
  margin-left: 10px;
  margin-top: 5px;
}

.listado a {
  margin-right: 5px;
}

.containermodificar {
  width: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;
  padding-top: 20px;
  margin-left: 450px;
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}

.containermodificar button {
  background-color: #574079;
  border: none;
  margin-top: -5px;
  margin-left: 343px;
}

.containermodificar button:hover {
  background-color: #9c80c7;
}

.labelimg {
  margin-top: -20px;
  display: flex;
  justify-content:space-between;
  margin-right: 250px;
}

.alertmodificar {
  font-size: 13px;
  margin-top: -50px;
  padding-left: 5px;
  color: red;
  width: 250px;
  height: 30px; 
}


.containermodificar h4{
  color: #574079;
  margin-left: -100px;
}

.containermodificar label{
  color: #14827b;
  padding-top: 15px;
  font-size: 15px;
}

.containermodificar form {
  width: 435px;
  margin-left: -100px;
}

.containeragregar {
  height: 410px;
  padding-top: 15px;
  width: 500px;
  margin-left: 450px;
  margin-top: 20px;
  box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 19px 0px rgba(0,0,0,0.75);
}

.containeragregar form {
  width: 430px;
  margin-left: -100px;
}

.containeragregar h4 {
  font-size: 22px;
  margin-left: -110px;
  padding-bottom: 10px;
  color: #574079;
}

.containeragregar button {
  margin-left: 350px;
  background-color: #574079;
  border: none;
}

.containeragregar button:hover {
  background-color: #9c80c7;
}

.agregarimagen {
  margin-left: -20px;
  color: #6b6b6b;
}
/* 
.mensajenv {
  margin-left: 160px;
  margin-top: -45px;
} */