header {
    background-color: beige;
    height: 140px;
}

header h1 {
    color: #14827b;
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
    position: relative;
    bottom: 45px;
    right: 20px;
    text-align: center;
}

.logo {
    margin: -20px;
}


.barra {
    margin-right: 10px;
}